.checkbox__item {
  margin-bottom: 20px;

  &:not(:last-child) {
    margin-bottom: 22px;
  }
}

.checkbox__label {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 58px;
    height: 58px;
    margin-right: 21px;
    border: none;
    border-radius: 5px;

    background-color: $input-bg;
    background-repeat: no-repeat;
    background-size: 24px 16px;
    background-position: center;
  }

  &:hover {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}

.checkbox__input:checked + .checkbox__label {
  &::before {
    background-image: url("../img/icon-tick.svg");
  }

  &:active {
    &::before {
      background-color: #747474;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet) {
  .checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .checkbox__item {
    width: 50%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:nth-child(odd) {
      padding-left: 95px;
    }

    &:nth-child(even) {
      padding-left: 35px;
    }
  }
}

@media (min-width: $desktop) {
  .checkbox {
    justify-content: space-between;
  }

  .checkbox__item {
    width: auto;

    &:nth-child(odd) {
      padding-left: 0;
    }

    &:nth-child(even) {
      padding-left: 0;
    }
  }
}
