.contact-us__intro {
  margin-bottom: 33px;
}

.contact-us__intro-text {
  line-height: 24px;
}

@media (min-width: $tablet) {
  .contact-us__intro {
    padding-top: 75px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop) {
  .contact-us__intro {
    padding-top: 113px;
    margin-bottom: 9px;
  }
}
