.contact-us__intro {
  margin-bottom: 33px;
}

.contact-us__intro-text {
  line-height: 24px;
}

@media (min-width: $tablet) {
  .contact-us__intro {
    margin-bottom: 24px;
    padding-top: 75px;
    padding-left: 160px;
    padding-right: 160px;
  }
}

@media (min-width: $desktop) {
  .contact-us__intro {
    margin-bottom: 9px;
    padding-top: 113px;
    padding-left: 375px;
    padding-right: 375px;
  }
}
