// .features {

// }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  text-align: center;
}

@media (min-width: $tablet) {
  .features__item {
    &--full-width {
      width: 100%;
    }

    &--equal-height {
      display: flex;
    }
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .features__wrapper {
    flex-direction: row;

    &--text-right {
      flex-direction: row-reverse;
    }
  }
}

.features__info {
  padding: 30px 36px;

  text-align: center;
  text-transform: uppercase;

  color: $main;
  background-color: #eeeeee;

  &--special {
    padding: 45px 27px 30px;
    color: $secondary;
    background-color: $primary;
  }

  &--decorative {
    padding-top: 70px;

    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 320px;
  }

  &--with-separator {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -140px;
      width: 280px;
      height: 1px;

      background-color: #d6d6d6;
    }
  }
}

@media (min-width: $tablet) {
  .features__info {
    width: 256px;

    &--decorative {
      background-image: none;
    }

    &--with-separator {
      &::after {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop) {
  .features__info {
    width: 400px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 40px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: $tablet) {
  .features__title {
    font-size: 21px;
  }
}

.features__description {
  position: relative;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 21px;

  &::before {
    content: attr(data-number);
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
  }
}

.features__sublist {
  margin: 0;
  padding: 40px;
  padding-bottom: 10px;
  padding-left: 70px;

  text-align: left;
  text-transform: uppercase;
  list-style: none;
}

@media (min-width: $tablet) {
  .features__sublist {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $tablet) {
  .features__subitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    padding: 160px 40px 60px;

    text-align: center;

    &--last {
      order: 1;
    }
  }
}

@media (min-width: $desktop) {
  .features__subitem {
    width: 400px;
  }
}

.features__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &--housing {
    &::before {
      left: -47px;
      width: 37px;
      height: 36px;

      background-image: url("../img/icon-house.svg");
    }
  }

  &--souvenirs {
    &::before {
      left: -45px;
      width: 32px;
      height: 38px;

      background-image: url("../img/icon-gift.svg");
    }
  }

  &--food {
    &::before {
      left: -50px;
      width: 38px;
      height: 35px;

      background-image: url("../img/icon-burger.svg");
    }
  }
}

@media (min-width: $tablet) {
  .features__subtitle {
    font-size: 21px;

    &::before {
      bottom: 60px;
      left: 50%;
    }

    &--housing {
      &::before {
        margin-left: -37.5px;
        width: 75px;
        height: 72px;
      }
    }

    &--souvenirs {
      &::before {
        margin-left: -32px;
        width: 64px;
        height: 75px;
      }
    }

    &--food {
      &::before {
        margin-left: -38.5px;
        width: 77px;
        height: 68px;
      }
    }
  }
}

.features__subdescription {
  margin: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 21px;
}
