// .features {

// }

.features__intro {
  margin-bottom: 5px;
}

@media (min-width: $tablet) {
  .features__intro {
    margin-bottom: 0;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}

@media (min-width: $tablet) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  text-align: center;
}

@media (min-width: $tablet) {
  .features__item {
    &--full-width {
      width: 100%;
    }

    &--equal-height {
      display: flex;
    }
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .features__wrapper {
    flex-direction: row;

    &--text-right {
      flex-direction: row-reverse;
    }
  }
}

.features__info {
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 28px;

  text-align: center;
  text-transform: uppercase;

  color: $main;
  background-color: #eeeeee;

  &--special {
    padding-top: 38px;
    padding-bottom: 40px;
    color: $secondary;
    background-color: $primary;
  }

  &--decorative {
    padding-top: 77px;

    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 320px;
  }

  &--with-separator {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -140px;
      width: 280px;
      height: 1px;

      background-color: #d6d6d6;
    }
  }
}

@media (min-width: $tablet) {
  .features__info {
    width: 256px;
    padding-top: 45px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 45px;

    &--special {
      padding-top: 44px;
    }

    &--decorative {
      background-image: none;
    }

    &--with-separator {
      &::after {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop) {
  .features__info {
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 66px;

    &--special {
      padding-top: 53px;
      padding-bottom: 40px;
    }
  }
}

.features__title {
  margin: 0;
  margin-bottom: 45px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: $tablet) {
  .features__title {
    margin-bottom: 52px;

    font-size: 21px;
  }
}

.features__description {
  position: relative;
  margin: 0;

  font-size: 14px;
  line-height: 21px;

  &::before {
    content: attr(data-number);
    position: absolute;
    left: 50%;
    top: -37px;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet) {
  .features__description {
    &::before {
      top: -43px;
    }
  }
}

@media (min-width: $tablet) {
  .features__img-wrapper {
    flex-grow: 1;
  }
}

@media (min-width: $desktop) {
  .features__img-wrapper {
    position: relative;
    min-height: 256px;
    overflow: hidden;
  }
}

.features__img {
  display: block;
}

@media (min-width: $desktop) {
  .features__img {
    position: absolute;
    top: -70px;
    left: 0;
  }
}

.features__sublist {
  margin: 0;
  padding-top: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 70px;

  text-align: left;
  text-transform: uppercase;
  list-style: none;
  background-color: #ffffff;
}

@media (min-width: $tablet) {
  .features__sublist {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
  }
}

@media (min-width: $desktop) {
  .features__sublist {
    padding-bottom: 24px;
  }
}

@media (min-width: $tablet) {
  .features__subitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    padding-top: 158px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;

    text-align: center;

    &--last {
      order: 1;
    }
  }
}

@media (min-width: $desktop) {
  .features__subitem {
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.features__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &--housing {
    &::before {
      left: -48px;
      bottom: -1px;
      width: 37px;
      height: 36px;

      background-image: url("../img/icon-house.svg");
    }
  }

  &--souvenirs {
    &::before {
      left: -45px;
      bottom: -1px;
      width: 32px;
      height: 38px;

      background-image: url("../img/icon-gift.svg");
    }
  }

  &--food {
    &::before {
      left: -51px;
      bottom: -4px;
      width: 38px;
      height: 35px;

      background-image: url("../img/icon-burger.svg");
    }
  }
}

@media (min-width: $tablet) {
  .features__subtitle {
    margin-bottom: 21px;
    font-size: 21px;

    &::before {
      bottom: 54px;
      left: 50%;
    }

    &--housing {
      &::before {
        margin-left: -37.5px;
        width: 75px;
        height: 73px;
      }
    }

    &--souvenirs {
      &::before {
        margin-left: -32px;
        width: 64px;
        height: 77px;
      }
    }

    &--food {
      &::before {
        margin-left: -38.5px;
        width: 77px;
        height: 70px;
      }
    }
  }
}

.features__subdescription {
  max-width: 100%;
  margin: 0;
  margin-bottom: 28px;

  font-size: 14px;
  line-height: 21px;
}
