.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;

  color: $main;
  background-color: $secondary;
}

@media (min-width: $tablet) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }
}

@media (min-width: $desktop) {
  .footer {
    padding: 36px 120px;
  }
}

.footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;

  color: $main;
}

.footer__social {
  margin-top: 36px;
  margin-bottom: 40px;
}

@media (min-width: $tablet) {
  .footer__social {
    margin: 0;
  }
}

.footer__info {
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer__academy-link {
  width: 27px;
  height: 34px;
  margin-left: 10px;
}
