.form {
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 41px;

  background-color: $secondary;
}

@media (min-width: $tablet) {
  .form {
    padding-top: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 61px;
  }
}

@media (min-width: $desktop) {
  .form {
    padding-top: 0;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 65px;
  }
}

.form__intro {
  padding-top: 38px;
}

@media (min-width: $tablet) {
  .form__intro {
    margin-bottom: 25px;
    padding-top: 74px;
  }
}

@media (min-width: $desktop) {
  .form__intro {
    margin-bottom: 9px;
    padding-top: 113px;
  }
}

.form__intro-text {
  line-height: 24px;
}

.form__fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet) {
  .form__tablet-order-1 {
    order: 1;
  }

  .form__tablet-order-2 {
    order: 2;
  }

  .form__tablet-order-3 {
    order: 3;
  }

  .form__tablet-order-4 {
    order: 4;
  }
}

.form__label {
  font-size: 14px;
  line-height: 26px;

  color: $main;

  &--text {
    text-transform: uppercase;
    color: $minor;
  }

  &--with-indent {
    padding-left: 21px;
    margin-bottom: 7px;
  }

  &--radio {
    position: relative;
    padding-left: 78px;

    font-weight: bold;
    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: 5px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: $input-bg;
      border: 13px solid $input-bg;
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 78px;

    font-weight: bold;
    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: 5px;
      width: 46px;
      height: 46px;
      background-color: $input-bg;
    }
  }

  &--textarea {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 14px;

    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: -19px;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
      height: 1px;
      background-color: #eeeeee;
    }
  }
}

@media (min-width: $tablet) {
  .form__label {
    &--textarea {
      font-size: 21px;
      margin-bottom: 54px;

      &::before {
        display: none;
      }
    }

    &--radio {
      padding-left: 75px;
    }
  }
}

@media (min-width: $desktop) {
  .form__label {
    &--text {
      margin-right: 16px;
      white-space: nowrap;
    }

    &--with-indent {
      padding-left: 0;
      margin-bottom: 0;
    }

    &--checkbox {
      &::before {
        left: 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .form__hidden-desktop {
    display: none;
  }
}

.form__input {
  width: 100%;
  padding: 16px 20px;
  border: none;

  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  color: $main;
  background-color: $input-bg;

  &::placeholder {
    color: $main;
  }

  &--icon {
    padding-right: 78px;
    background-repeat: no-repeat;
    background-position: right 20px center, right center;
  }

  &--tel {
    background-image:
      url("../img/icon-phone.svg"),
      linear-gradient(to left, $input-icon-bg 58px, $input-bg 0);
    background-size: 18px, 100%;
  }

  &--email {
    background-image:
      url("../img/icon-mail.svg"),
      linear-gradient(to left, $input-icon-bg 58px, $input-bg 0);
    background-size: 16px, 100%;
  }
}

@media (min-width: $desktop) {
  .form__input {
    &--icon {
      max-width: 315px;
    }
  }
}

.form__radio {
  &:checked + .form__label--radio::before {
    background-color: $minor;
  }
}

.form__checkbox {
  &:checked + .form__label--checkbox::before {
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 16px;
  }
}

.form__wrapper {
  margin: 0;
  margin-top: 17px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

@media (min-width: $tablet) {
  .form__wrapper {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 12px;
      width: 124px;
      height: 1px;
      background-color: #eeeeee;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

@media (min-width: $tablet) {
  .form__wrapper {
    &::before,
    &::after {
      width: 280px;
    }
  }
}

.form__textarea {
  display: block;
  width: 100%;
  height: 160px;
  padding: 18px 20px;
  border: none;

  font: inherit;

  background-color: $input-bg;
  resize: none;
}

.form__button-wrapper {
  margin: 0;
  margin-top: 55px;
}

@media (min-width: $tablet) {
  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
}

@media (min-width: $tablet) {
  .form__button {
    width: 50%;
    max-width: initial;
  }
}

.form__required {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: $minor;
}

@media (max-width: $tablet - 1) {
  .form__required {
    display: none;
  }
}
