.form {
  padding: 0 20px;

  background-color: $secondary;
}

@media (min-width: $tablet) {
  .form {
    padding: 0 60px;
  }
}

@media (min-width: $desktop) {
  .form {
    padding: 0 120px;
  }
}

.form__fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet) {
  .form__tablet-order-1 {
    order: 1;
  }

  .form__tablet-order-2 {
    order: 2;
  }

  .form__tablet-order-3 {
    order: 3;
  }

  .form__tablet-order-4 {
    order: 4;
  }
}

.form__label {
  font-size: 14px;
  line-height: 26px;

  color: $main;

  &--text {
    text-transform: uppercase;
    color: $minor;
  }

  &--radio {
    position: relative;
    padding-left: 72px;

    font-weight: bold;
    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: $input-bg;
      border: 15px solid $input-bg;
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 72px;

    font-weight: bold;
    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 46px;
      height: 46px;
      background-color: $input-bg;
    }
  }

  &--textarea {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop) {
  .form__label {
    &--text {
      margin-right: 16px;
    }
  }
}

@media (min-width: $desktop) {
  .form__hidden-desktop {
    display: none;
  }
}

.form__input {
  width: 100%;
  padding: 16px 20px;
  border: none;

  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  color: $main;
  background-color: $input-bg;

  &::placeholder {
    color: $main;
  }

  &--icon {
    padding-right: 78px;
    background-repeat: no-repeat;
    background-position: right 20px center, right center;
  }

  &--tel {
    background-image:
      url("../img/icon-phone.svg"),
      linear-gradient(to left, $input-icon-bg 58px, $input-bg 0);
    background-size: 18px, 100%;
  }

  &--email {
    background-image:
      url("../img/icon-mail.svg"),
      linear-gradient(to left, $input-icon-bg 58px, $input-bg 0);
    background-size: 16px, 100%;
  }
}

@media (min-width: $desktop) {
  .form__input {
    &--icon {
      max-width: 315px;
    }
  }
}

.form__radio {
  &:checked + .form__label--radio::before {
    background-color: $minor;
  }
}

.form__checkbox {
  &:checked + .form__label--checkbox::before {
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 16px;
  }
}

.form__wrapper {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.form__textarea {
  display: block;
  width: 100%;
  height: 160px;
  padding: 20px;
  border: none;

  font: inherit;

  background-color: $input-bg;
  resize: none;
}

@media (min-width: $tablet) {
  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__required {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: $minor;
}

@media (max-width: $tablet - 1) {
  .form__required {
    display: none;
  }
}
