.intro {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  color: $main;
  background-color: $secondary;

  &--presentation {
    padding-top: 34px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 44px;
  }
}

@media (min-width: $tablet) {
  .intro {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 50px;

    &--presentation {
      padding-top: 67px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 41px;
    }
  }
}

@media (min-width: $desktop) {
  .intro {
    padding-left: 355px;
    padding-right: 355px;

    &--presentation {
      padding-top: 71px;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 84px;
    }
  }
}

.intro__title {
  display: block;
  margin: 0;

  font-weight: bold;
  font-size: 18px;
}

@media (min-width: $tablet) {
  .intro__title {
    font-size: 21px;

    &--big {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }
}

.intro__text {
  margin-top: 27px;
  margin-bottom: 0;

  font-size: 14px;

  &--presentation {
    margin-bottom: 33px;
    padding-left: 20px;
    padding-right: 20px;

    line-height: 24px;
  }
}

@media (min-width: $tablet) {
  .intro__text {
    &--presentation {
      margin-bottom: 73px;
    }
  }
}

.intro__button {
  margin-top: 40px;
}

@media (min-width: $tablet) {
  .intro__button {
    max-width: 458px;
  }
}
