.intro {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;

  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  color: $main;
  background-color: $secondary;

  &--big {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
}

@media (min-width: $tablet) {
  .intro {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 50px;
  }
}

.intro__title {
  font-weight: bold;
  font-size: 18px;

  &--big {
    font-size: 21px;
  }
}

@media (min-width: $tablet) {
  .intro__title {
    font-size: 21px;

    &--big {
      font-size: 30px;
    }
  }
}

.intro__text {
  margin-top: 27px;
  margin-bottom: 0;

  font-size: 14px;
}

.intro__button {
  margin-top: 40px;
}

@media (min-width: $tablet) {
  .intro__button {
    max-width: 458px;
  }
}
