.intro {
  padding: 40px 0 10px;

  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  color: $main;
  background-color: $secondary;

  &--big {
    padding: 30px 0 50px;
  }
}

@media (min-width: $tablet) {
  .intro {
    padding: 50px 0;
  }
}

.intro__title {
  font-weight: bold;
  font-size: 18px;

  &--big {
    font-size: 21px;
  }
}

@media (min-width: $tablet) {
  .intro__title {
    font-size: 21px;

    &--big {
      font-size: 30px;
    }
  }
}

.intro__text {
  margin-bottom: 0;

  font-size: 14px;
}

.intro__button {
  margin-top: 40px;
}

@media (min-width: $tablet) {
  .intro__button {
    max-width: 458px;
  }
}
