.likes {
  margin: 0;
  padding-left: 37px;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 23px 21px;
}
