.page-header {
  position: relative;
  min-height: 56px;

  background-color: $secondary;
}

.page-header__logo {
  position: absolute;
  bottom: -26px;
  left: 50%;
  margin-left: -50px;
  z-index: 1;
}

@media (min-width: $tablet) {
  .page-header {
    padding: 8px 0;
  }
  .page-header__logo {
    bottom: auto;
    top: 0;
  }
}

@media (min-width: $desktop) {
  .page-header__logo {
    margin-left: -95px;
  }
}
