.photo {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.photo__link {
  display: flex;
}

.photo__img {
  display: block;
  width: 280px;
  height: 280px;
}

@media (min-width: $tablet) {
  .photo__img {
    width: 324px;
    height: 267px;

    &--full-width {
      width: 648px;
      height: 400px;
    }
  }
}

@media (min-width: $desktop) {
  .photo__img {
    width: 400px;
    height: 267px;

    &--full-width {
      width: 1200px;
      height: 400px;
    }
  }
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

@media (min-width: $tablet) {
  .photo__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;

    background-color: #f2f2f2;

    &--darker-bg {
      background-color: #eaeaea;
    }
  }
}

@media (min-width: $desktop) {
  .photo__wrapper {
    margin-top: -80px;

    color: $secondary;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.photo__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__author {
  margin-top: -1px;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 24px;

  color: $minor;
}

@media (min-width: $desktop) {
  .photo__author {
    color: inherit;
  }
}

.photo__author-name {
  font: inherit;
}

@media (min-width: $tablet) {
  .photo__likes {
    min-width: 64px;
    margin-bottom: 6px;
  }
}
