.photo {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.photo__link {
  display: flex;
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .photo__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: #f2f2f2;

    &--darker-bg {
      background-color: #eaeaea;
    }
  }
}

@media (min-width: $desktop) {
  .photo__wrapper {
    margin-top: -98px;

    color: $secondary;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.photo__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__author {
  margin: 5px 0;
  font-size: 14px;
  line-height: 24px;

  color: $minor;
}

@media (min-width: $desktop) {
  .photo__author {
    color: inherit;
  }
}

.photo__author-name {
  font: inherit;
}
