.social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;

  background-color: $primary;
  background-repeat: no-repeat;
  background-position: center;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
