.social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: $primary;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    svg {
      opacity: 0.3;
    }
  }
}
