@media (max-width: $tablet - 1px) {
  .no-js {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      display: block;
    }
  }

  .js-show {
    display: block;
  }

  .js-toggler-show {
    background-image: url("../img/icon-cross.svg");
  }
}
