.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 320px;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
  background-color: $secondary;
}

@media (min-width: $tablet) {
  .container {
    width: $tablet;
  }
}

@media (min-width: $desktop) {
  .container {
    width: $desktop;
  }
}

.d-mobile {
  display: inline;
}

@media (min-width: $tablet) {
  .d-mobile {
    display: none;
  }
}

.d-tablet-only {
  display: none;
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .d-tablet-only {
    display: inline;
  }
}

.d-tablet {
  display: none;
}

@media (min-width: $tablet) {
  .d-tablet {
    display: inline;
  }
}

.d-desktop {
  display: none;
}

@media (min-width: $desktop) {
  .d-desktop {
    display: inline;
  }
}

@media (min-width: $desktop) {
  .d-desktop-none {
    display: none;
  }
}
